@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.button1 {
    border-radius: 10px;
    height: 80px;
    width: 85px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: #e0e0e0;

}

.button2 {
    border-radius: 10px;
    height: 80px;
    width: 85px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: #6fcf97;

}

.button3 {
    border-radius: 10px;
    height: 80px;
    width: 85px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: #56ccf2;
}

.button4 {
    border-radius: 10px;
    height: 80px;
    width: 85px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: #bb6bd9;
}




.bg-block {
    background-color: #222222;
    color: white;
    padding: 6px;
    margin: 20px;
    border-radius: 9px;
    font-size: 30px;
    font-weight: bold;
    font-family: "robotto";
   
}

.head {
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: "robotto";
    text-decoration: underline;
}

.para {
    font-family: "open-sans";
    font-size: 40px;
}
.main-container
{
  background-color:#faf9f7;
  height:100vh;
  border-radius:10px;
}